<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Admin - @ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="~/Areas/admin/Content/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="@Url.Action("Index","TrangChuAdmin")">Trang chủ</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Tìm kiếm" aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="@Url.Action("DangNhapAdmin","Login")">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Quản lý</div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseBN" aria-expanded="false" aria-controls="collapseBN">
                            <div class="sb-nav-link-icon"><i class="fas fa-user-alt"></i></div>
                            Quản Lý Bệnh Nhân
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseBN" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="@Url.Action("Index","BenhNhan")">
                                    Bệnh Nhân
                                </a>
                                <a class="nav-link collapsed" href="@Url.Action("Index","NguoiThan")">
                                    Người Thân
                                </a>
                                <a class="nav-link collapsed" href="@Url.Action("Index","HoSoBenhAn")">
                                    Hồ Sơ Bệnh Án
                                </a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCK" aria-expanded="false" aria-controls="collapseCK">
                            <div class="sb-nav-link-icon"><i class="fas fa-user-alt"></i></div>
                            Quản Lý Chuyên Khoa và Bác Sĩ
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseCK" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="@Url.Action("Index","ChuyenKhoa")">
                                    Chuyên Khoa
                                </a>
                                <a class="nav-link collapsed" href="@Url.Action("Index","BacSi")">
                                    Bác Sĩ
                                </a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseDLK" aria-expanded="false" aria-controls="collapseDLK">
                            <div class="sb-nav-link-icon"><i class="far fa-calendar-alt"></i></div>
                            Quản lý tư vấn bệnh nhân
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseDLK" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="@Url.Action("Index","QuanLyTuVan")">
                                    Tư vấn
                                </a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseDV" aria-expanded="false" aria-controls="collapseDV">
                            <div class="sb-nav-link-icon"><i class="fas fa-crutch"></i></div>
                            Quản lý dịch vụ
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseDV" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="@Url.Action("Index","DichVu")">
                                    Dịch vụ
                                </a>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Tên người quản trị: @Session["HoTen"].ToString()</div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                @if (TempData["AlertMessage"] != null)
                {
                    <div class="alert @TempData["AlertType"] hide">
                        @TempData["AlertMessage"];
                    </div>
                }
                @RenderBody()
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Đồ Án Chuyên Ngành - Nhóm DN</div>
                        <div>
                            <p>
                                <b>
                                    Liên Hệ:
                                    <a href="https://www.facebook.com/leanhduy09.1O/">Lê Anh Duy</a>
                                    &middot;
                                    <a href="https://www.facebook.com/profile.php?id=100022180754603">Nguyễn Trung Nguyên</a>
                                </b>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
<script src="~/Content/js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="~/Content/js/datatables-simple-demo.js"></script>
</body>
</html>
