@model DACN.Models.BenhNhan
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    <title>Đổi mật khẩu</title>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div style="text-align:center" class="form-horizontal">

        <h3 style="text-align:center">Thay đổi mật khẩu</h3>
        <div class="form-group">
            
            <label class="control-label col-md-2" for="MatKhauCu">
                Mật khẩu cũ:
            </label>

            <div class="col-md-10">
                <input class="form-control text-box single-line input-validation-error"
                       data-val="true" data-val-required="Phải nhập mật khẩu!"
                       id="MatKhauCu" name="MatKhauCu" type="password" value="" required>
                @ViewData["NhapMKCu"]
            </div>
        </div>

        <div class="form-group align-content-center">
            <label class="control-label col-md-2" for="MatKhauMoi">
                Mật khẩu mới:
            </label>

            <div class="col-md-10">
                <input class="form-control text-box single-line input-validation-error"
                       data-val="true" data-val-required="Phải nhập mật khẩu mới!"
                       id="MatKhauMoi" name="MatKhauMoi" type="password" value="" required>
                @ViewData["NhapMKMoi"]
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="XacNhanMatKhau"><br /> Mật khẩu mới:
            </label>
            <div class="col-md-10">
                <input class="form-control text-box single-line input-validation-error"
                       data-val="true" data-val-required="Phải nhập mật khẩu xác nhận!"
                       id="XacNhanMatKhau" name="XacNhanMatKhau" type="password" value="" aria-
                       describedby="XacNhanMatKhau-error" aria-invalid="true" required>
                @ViewData["NhapMKXN"]
                @ViewData["MatKhauGiongNhau"]
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input style="width:150px; margin-right:300px" type="submit" value="Lưu lại" class="btn" />
            </div>
        </div>
    </div>
}
